body {
  /* padding-bottom: 1000px; */
  font-family: gg-sans;
  color: rgba(142, 137, 137, 0.347);
  margin: 0;
}

@font-face {
  font-family: gg-sans;
  src: url(/fonts/ggsans-Medium.ttf);
}
p {
  margin: 0 0;
}
