.sidebar {
  background-color: rgba(0, 0, 0, 0.904);
  width: 72px;
  z-index: 100;
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}
.sidebar-link {
  height: 56px;
  display: flex;

  align-items: center;
  justify-content: center;
}
.study-room {
  font-size: 18px;
}
.sidebar-image {
  height: 50px;
  border-radius: 25px;
  transition: border-radius 0.15s;
}
.sidebar-image:hover {
  border-radius: 16px;
  cursor: pointer;
  background-color: #375cdfc1;
}

.direct-message {
  background-color: rgba(255, 255, 255, 0.776);
  border: none;
  margin-top: 16px;
}
.study-room {
  background-color: rgba(255, 255, 255, 0.094);
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.server-separator {
  height: 2px;
  width: 38px;
  border-radius: 1px;
  margin-left: 16px;
  margin-top: 12px;
  margin-bottom: 4px;
  background-color: rgba(255, 255, 255, 0.094);
}
.programming-text {
  height: 16px;
}
